body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2, h3 {
    color: #333;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

/* Ссылки */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Формы */
.form-group {
    margin-bottom: 15px;
}

.form-group label {
    font-weight: bold;
    color: #555;
}

.form-group input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px; /* Отступ между полем ввода и кнопкой */
}

.form-group input:focus {
    border-color: #007bff;
}


.btn{
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px; /* Отступ сверху */
    margin-bottom: 20px; /* Отступ снизу */
}

.btn:hover {
    background-color: #0056b3;
}

.alert {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

/* Шапка */
header {
    background-color: #343a40;
    color: #fff;
    padding: 10px 0;
}

header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .navbar a {
    color: #fff;
    padding: 0 15px;
}

header .navbar a:hover {
    color: #ddd;
}

footer {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

/* Адаптивность */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }
}

.alert {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
